@media screen and (min-device-width: 1000px) and (max-device-width: 1200px) {
    .site-header nav .site-ul ul {
        margin-left: 80px;
    }

    .intro-content h1 {
        font-size: 58px;
        line-height: 50px;
    }

    .intro-content .intro-buttons button {
        font-size: 26px;
    }

    .first-form .form-left h2 {
        font-size: 32px;
    }

    .first-form .form-right h2 {
        font-size: 32px;
    }

    .first-form .form-right .form-r-content form h4 {
        font-size: 20px;
    }

    .form-r-content .submit-button a {
        font-size: 26px;
    }

    .form-r-content .submit-button a img {
        width: 100px;
    }

    .second-form {
        padding: 100px 0px;
    }

    .second-form .form-l-content h2 {
        font-size: 32px;
        margin-bottom: 30px;
    }

    .second-form .form-l-content p {
        font-size: 17px;
    }

    .second-form .form-l-content {
        margin-left: 20px;
    }

    .second-form .form-l-content .submit-button a {
        font-size: 26px;
    }

    .second-form .form-l-content .submit-button a img {
        width: 100px;
    }
}

@media screen and (min-device-width: 500px) and (max-device-width: 999px) {
    .intro-content {
        margin-top: 97px;
    }

    .intro-content h1 {
        font-size: 34px;
    }

    .intro-content .intro-buttons {
        flex-direction: column;
    }

    .intro-buttons button:nth-child(1) {
        margin-bottom: 40px;
    }

    .card-heading h2 {
        font-size: 36px;
    }

    .card-body .card-text {
        font-size: 20px;
    }

    .second-form .form-l-content .submit-button a {
        font-size: 24px;
    }
}

@media screen and (min-device-width: 200px) and (max-device-width: 499px) {
    .navbar .site-logo a img {
        width: 200px;
    }

    .nav-box {
        height: 94px;
    }

    .site-header nav .site-logo {
        margin-left: 16px;
    }

    .navbar .menu-button {
        margin-right: 24px
    }

    .menu-button button i {
        font-size: 28px;
    }

    .intro-content {
        margin-top: 97px;
        text-align: center;
    }

    .intro-content h1 {
        font-size: 32px;
        line-height: 54px;
    }

    .intro-content .intro-buttons {
        flex-direction: column;
        width: auto;
    }

    .intro-buttons button:nth-child(1) {
        margin-bottom: 40px;
    }

    .card-heading h2 {
        font-size: 36px;
    }

    .card-body .card-text {
        font-size: 20px;
    }

    .second-form .form-l-content .submit-button a {
        font-size: 24px;
    }

    .table-title h2 {
        font-size: 22px;
    }

    .table tbody tr th {
        font-size: 18px;
    }

    .table tbody tr td {
        font-size: 16px;
    }

    .card-heading h2 {
        font-size: 22px;
        margin-left: 14px;
    }

    .card-body .card-text {
        font-size: 17px;
        line-height: 30px;
    }

    .card-main {
        padding: 0px 6px;
    }

    .card .read-more-card button img {
        height: 30px;
        width: 80px;
    }

    footer {
        padding: 13px 10px;
    }

    .footer-logo img {
        width: 150px;
    }

    footer ul li a {
        font-size: 13px;
    }

    .read-more-card button {
        margin-right: 10px;
    }

    .contact-box button {
        right: 8px;
    }

}

@media screen and (min-device-width: 200px) and (max-device-width: 999px) {
    .language-switcher {
    top: 5px;
    right: 7px;
}
.language-switcher p {
    font-size: 16px;
    line-height: 20px;
}
    .navbar .site-ul {
        display: none;
    }

    .navbar .menu-button {
        display: block;
        margin-right: 40px;
    }

    .intro-main {
        height: 500px;
    }

    .first-form .form-left {
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        padding: 54px 0px;
    }

    .first-form .form-left h2 {
        font-size: 36px;
        line-height: 49px;
    }

    .first-form .form-right {
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        padding-top: 46px;
        padding-bottom: 20px;
    }

    .first-form .form-right h2 {
        font-size: 36px;
        margin-bottom: 36px;
    }

    .first-form .form-right .form-r-content form h4 {
        font-size: 22px;
        line-height: 28px;
    }

    .form-r-content .submit-button {
        margin-top: 30px;
    }

    .form-r-content .submit-button a {
        font-size: 16px;
        line-height: 42px;
    }

    .form-r-content .submit-button a img {
        width: 62px;
    }

    .second-form .form-left {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    .second-form .form-l-content h2 {
        font-size: 36px;
        line-height: 65px;
        margin-bottom: 20px;
    }

    .second-form .form-l-content p {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 46px;
    }

    .second-form .form-l-content .submit-button a {
        font-size: 16px;
    }

    .second-form .form-l-content .submit-button a img {
        width: 62px;
        margin-left: 9px;
    }

    .second-form .form-right {
        width: 100%;
        height: auto;
    }

    .table-main {
        height: auto;
        padding-top: 40px;
    }

    .table tbody tr:nth-child(odd) {
        height: auto;
    }

    .table tbody tr:nth-child(even) {
        height: auto;
    }
}

@media screen and (min-device-width: 700px) and (max-device-width: 999px) {
    .table-title h2 {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 30px;
    }

    .table tbody tr th {
        font-size: 18px;
        line-height: 28px;
    }

    .table td,
    .table th {
        padding: 0.45rem;
    }

    .table tbody .even td {
        padding: 10px 10px;
    }

    .table tbody tr td {
        font-size: 16px;
        line-height: 20px;
    }

    .table tbody .odd td {
        padding: 20px 10px;
    }
}

@media screen and (min-device-width: 500px) and (max-device-width: 650px) {
    .intro-content h1 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .intro-content .intro-buttons button {
        font-size: 18px;
        height: 50px;
        width: 200px;
    }

    .intro-buttons button:nth-child(1) {
        margin-bottom: 20px;
    }

    .site-logo a img {
        width: 200px;
    }

    .menu-button button i {
        font-size: 28px;
    }

    .nav-box {
        height: 94px;
    }
}

@media screen and (min-device-width: 200px) and (max-device-width: 800px) {
    .intro-main {
        height: 320px;
    }
    .intro-content h1 {
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    .intro-content .intro-buttons button {
        font-size: 16px;
        height: 35px;
        width: 136px;
    }
    .intro-buttons button:nth-child(1) {
        margin-bottom: 16px;
    }
    .first-form .form-left h2 {
        font-size: 22px;
        line-height: 33px;
    }
    .first-form .form-left {
        padding: 34px 0px;
    }
    .first-form .form-right {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .first-form .form-right h2 {
        font-size: 22px;
        margin-bottom: 16px;
        line-height: 40px;
    }
    .first-form .form-right .form-r-content form h4 {
        font-size: 16px;
        line-height: 22px;
    }
    .form-r-content .submit-button {
        height: 50px;
        margin-top: 16px;
    }
    .form-r-content .submit-button a {
        font-size: 13px;
        line-height: 22px;
    }
    .form-r-content .submit-button a img {
        width: 40px;
    }
    .second-form .form-left {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .second-form .form-l-content h2 {
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 10px;
    }
    .second-form .form-l-content p {
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .second-form .form-l-content .submit-button a {
        font-size: 13px;
    }
    .second-form .form-l-content .submit-button a img {
        width: 40px;
    }
    .second-form .form-right img {
        height: 300px;
    }
    .table-main {
        padding-top: 22px;
    }
    .table-title h2 {
        font-size: 22px;
        line-height: 35px;
        margin-bottom: 20px;
    }
    .table tbody th, td {
        min-width: 170px;
    }
    .table tbody tr th {
        font-size: 14px;
        line-height: 18px;
        padding: 10px;
    }
    .table tbody tr td {
        font-size: 14px;
        line-height: 18px;
    }
    section.card-section {
        padding-top: 10px;
    }
    .card-heading h2 {
        line-height: 40px;
        margin-bottom: 20px;
    }
    .card-body .card-text {
        font-size: 15px;
        line-height: 21px;
        margin-top: 10px;
        margin: 10px 0px;
    }
    .card .read-more-card button img {
        width: 40px;
    }
    section.second-form-section {
        padding: 0px 20px;
    }
    .slider-insider .slider-left {
        width: 199px;
        margin-bottom: 20px;
        margin: 0px auto;
    }
    .slider-insider .slider-right span img {
        height: 33px;
        width: 43px;
        margin-bottom: 14px;
    }
    .swiper-button-prev:after {
        margin-top: -137px;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        margin-top: -137px;
    }
    .slider-insider .slider-right {
        margin-top: 30px;
        }
}
@media screen and (min-device-width: 400px) and (max-device-width: 500px){

    .intro-main {
        height: 450px;
    }
    .intro-content h1 {
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 30px;
    }
    .intro-content .intro-buttons button {
        font-size: 18px;
        height: 45px;
        width: 170px;
    }
    .intro-content {
        margin-top: 120px;
        text-align: center;
    }
    .swiper{
        padding: 50px 0px;
        padding-bottom: 100px;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        margin-top: -278px;
    }
}
@media screen and (min-device-width: 200px) and (max-device-width: 499px) {
    .language-switcher {
        top: 7px;
        right: 15px;
    }
}