@media screen and (min-device-width: 200px) and (max-device-width: 800px){
    .row-partner-all-reverse .partner-logo {
        clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%);
    }
    .partner-logo {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        padding: 20px 0px;
    }
    .second-form .form-left {
        padding-top: 35px;
        padding-bottom: 25px;
    }
    .second-form .form-l-content h2 {
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 15px;
    }

}
@media screen and (min-device-width: 600px) and (max-device-width: 800px){
    .lorem-section {
        padding-top: 64px;
        padding-bottom: 65px;
    }
    .second-form .form-left {
        padding-top: 26px;
        padding-bottom: 20px;
    }
    
.partner-section {
    padding-top: 50px;
    background-color: #EBEBEB;
}

.partner-logo-content {
    font-size: 24px;
    line-height: 30px;
}
.partner-description h3 {
    font-size: 24px;
    line-height: 36px;
}
.partner-description p {
    font-size: 16px;
    margin-top: 15px;
}
.row-partners-all {
    margin-bottom: 65px;
}

.partner-main .heading h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
}
}
@media screen and (min-device-width: 300px) and (max-device-width: 599px){
    .partner-section {
        padding-top: 30px;
    }
.partner-main .heading h2 {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 30px;
}
.partner-logo-content {
    font-size: 24px;
    line-height: 28px;
}
.partner-description h3 {
    font-size: 24px;
    line-height: 30px;
}
.partner-description p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
}
.partner-description {
    padding-top: 20px;
    padding-bottom: 20px;
}
.partner-main .heading h2 {
   margin-left: 20px;
}
}
@media screen and (min-device-width: 100px) and (max-device-width: 991px){
    .row-partners-all:nth-child(even) .partner1.row .col-lg-4 {
    order: 0;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
}
    .partner-logo{
        clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
    }
}
@media screen and (min-device-width: 50px) and (max-device-width: 16000px){
    .row-partners-all:last-child {
        margin-bottom: 0px;
    }
}