.lorem-section {
    padding-top: 64px;
    padding-bottom: 99px;
}
.lorem-title h2 {
    margin-bottom: 15px;
}
.site-header nav {
    padding: 0;
    height: 102px;
}
.site-header nav .row {
    margin: 0;
}
.navbar{
    background-color: white;
}
.site-header nav ul li a {
    color: black;
}
.menu-button button i {
    filter: none;
}
.language-switcher p {
    color: black;
}

/* second-form-section-partner styling */
/* .second-form-section-partner{
    min-height: 773px;
} */
.second-form .form-right img {
    height: auto;
}

/* partner section styling */
.partner-section{
    padding-top: 106px;
    background-color: #EBEBEB;
}
.wrap-for-partner{
    background-color: #EBEBEB;
}
.partner-main{
    background-color: #EBEBEB;
}
.partner-main .heading h2{
    font-size: 36px;
    font-weight: bold;
    line-height: 58px;
    color: #333333;
    margin-bottom: 38px;
}
.partner1{
    height: 318px;
    /* width: 1134px; */
    background-color: #B9E9D7;
}
.partner-description {
    background-color: #B9E9D7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partner-description h3{
    font-size: 36px;
    font-weight: bold;
    line-height: 46px;
    color: #333333;
}
.partner-description p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #333333;
    margin-top: 22px;
}
.partner-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, 83% 0, 100% 100%, 0% 100%);
    background-color: white;
}
.partner-logo-content{
    font-size: 36px;
    font-weight: bold;
    line-height: 46px;
    color: #333333;
    text-align: center;
}
.row-partners-all {
    margin-bottom: 133px;
}
.row-partners-all:last-child {
    margin-bottom: 0px;
}
.wrap-for-partner{
    padding-bottom: 133px;
}
.row-partner-all-reverse{
    flex-direction: row-reverse;
}
.row-partner-all-reverse .partner-logo{
    clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0% 100%);
}
.partner-description-content {
    width: 549px;
}
.row-partners-all:nth-child(even) .partner1.row .col-lg-4 {
    order: 2;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
}
/* button colors */
i.ri-menu-line {
    color: black;
}
i.ri-close-fill {
    color: black;
}
.nav-box {
display: none;
}