* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
footer ul li a:hover{
    color: white;
    text-decoration: none;
}
main {
    position: relative;
}
.language-switcher{
    position: absolute;
    top: 9px;
    right: 21px;
    z-index: 99999999;
}
.language-switcher p{
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    color: white;
}
/* nav responsive stylig */
.nav-responsive{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 400px;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
    display: none;
}
.nav-responsive-ul{
    padding: 40px;
}
.nav-responsive-ul li{
    list-style: none;
}
.nav-responsive-semi-ul{
    padding: 10px;
    padding-left: 12px;
}
.nav-responsive-ul li a{
    font-size: 18px;
    font-weight: 700;
    line-height: 52px;
    color: #333333;
}
.nav-responsive-semi-ul li a{
    line-height: 40px;
}
.close-responsive-nav button{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 24px;
    position: absolute;
    top: 5px;
    right: 20px;
    height: 50px;
    width: 50px;
}
/* contact-box styling */
.contact-box {
    position: relative;
}

.contact-box button {
    position: fixed;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    height: 100px;
    width: 100px;
    background-color: #0167BA;
    top: 215px;
    z-index: 99999;
    right: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
}

/* contact form styling */


.contact-form {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 509px;
    width: 100%;
    background-color: #0167BA;
    z-index: 9999999999;
    padding: 30px 30px 30px 25px;
    overflow: auto;
    height: auto;
    max-height: 100%;
    padding-bottom: 40px;
    display: none;
}

.our-contacts ul li:nth-child(1) {
    font-weight: bold;
}

.our-contacts ul li {
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
    color: white;
    list-style: none;
}

.our-contacts .close-form button {
    border: none;
    outline: none;
    background-color: transparent;
    filter: invert(100%);
    font-size: 38px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.contact-input input {
    font-size: 18px;
    font-weight: 400;
    font-family: inherit;
    margin-bottom: 20px;
    height: 50px;
    width: 100%;
    padding: 20px;
    outline: none;
    border: none;
}

.contact-input #news {
    resize: vertical;
    height: 150px;
    font-size: 18px;
    font-weight: 400;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    font-family: inherit;
    margin-bottom: 20px;
    width: 100%;
    padding: 16px;
    outline: none;
    border: none;
    color: #333333;
}

.contact-input .submit-btn {
    height: 100px;
    width: 100px;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
    border-radius: 50%;
    border: none;
    outline: none;
}

.contact-input .submit-btn:hover {
    background-color: #EEEEEE;
}

.contact-form-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* nav submenu */
.navbar .submenu {
    position: absolute;
    top: 75px;
    left: -170px;
    background-color: white;
    height: 190px;
    min-width: 335px;
    display: flex;
    align-items: flex-start;
    /* border: 2px solid white; */
    justify-content: center;
    flex-direction: column;
    display: none;
    z-index: 999;
    padding-top: 10px;
    transition: 0.5s ease-in;
}

.navbar .submenu::before {
    content: "";
    position: absolute;
    top: -35px;
    left: 164px;
    height: 35px;
    width: 55px;
    background-color: white;
    clip-path: polygon(0 100%, 100% 100%, 100% 16%);
}
.navbar .submenu::after{
    content: "";
    position: absolute;
    top: -35px;
    left: 164px;
    height: 35px;
    width: 70px;
    background-color: transparent;
}

/* .site-ul ul .first-li a:hover > .submenu{
    display: block;
} */
.navbar .row .submenu li a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    line-height: 35px;
    margin: 0px 25px;
    text-decoration: none;
}

.navbar .row .submenu li a:hover {
    color: #0d6efd;
}

.intro-main {
    position: relative;
}

/* nav box styling */
.nav-box {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 194px;
    width: 100%;
    background: linear-gradient(#0c36589d, #0c365859, #0c365805);
}

/* nav styling */
.site-header nav {
    padding: 0;
}

.site-header nav .row {
    margin: 0;
    width: 100%;
    margin-top: 15px;
    display: flex;
}

.site-header nav .nav-col1 {
    width: 33%;
    padding: 0;
}

.site-header nav .nav-col2 {
    width: 66%;
    display: flex;
    align-items: flex-end;
    padding: 0;
}

.site-header nav .site-logo {
    margin-left: 24px;
}

.site-header nav ul {
    display: flex;
    margin: 0;
}

.site-header nav ul li {
    list-style: none;
}

.site-header nav ul li a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    margin-left: 30px;
}

.site-ul .first-li a {
    margin-left: 0;
}

/* menu button styling */
.menu-button {
    margin-left: auto;
    margin-right: 30px;
    display: none;
}

.menu-button button {
    background-color: transparent;
    border: none;
}

.menu-button button i {
    font-size: 36px;
    filter: invert(100%);
}

/* Intro section styling */
.intro-main {
    background-image: url(img/mainbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 718px;
    width: 100%;
    padding-bottom: 215px;
}

/* intro-content styling */
.intro-content {
    margin-top: 97px;
    margin-top: 227px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro-content h1 {
    font-size: 65px;
    font-weight: bold;
    line-height: 70px;
    color: white;
    margin-bottom: 70px;
}

.intro-content .intro-buttons {
    width: 602px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro-content .intro-buttons button {
    font-size: 28px;
    font-weight: bold;
    /* line-height: 113px; */
    color: #333333;
    background-color: #B9E9D7;
    height: 59px;
    width: 249px;
    border: none;
}

.intro-content .intro-buttons button:hover {
    background-color: black;
    color: white;
    transition: 0.3s ease-in;
}

/* first form section styling */
.first-form {
    display: flex;
    margin: 0;
    padding: 0;
}

.first-form .row {
    width: 100%;
    flex-wrap: wrap;
    margin: 0px;
}

.first-form .form-left {
    background-color: #0267BA;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
    padding: 194px 0px;
}

.first-form .form-left h2 {
    font-size: 42px;
    font-weight: bold;
    line-height: 58px;
    color: white;
}

.first-form .form-right {
    background-color: white;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 194px 0px;
}

.first-form .form-right h2 {
    font-size: 42px;
    font-weight: bold;
    line-height: 42px;
    color: #333333;
    margin-bottom: 51px;
}

.first-form .form-right .form-r-content form {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
}

.first-form .form-right .form-r-content form input {
    width: 25px;

}

.first-form .form-right .form-r-content form h4 {
    font-size: 28px;
    font-weight: bold;
    line-height: 38px;
    color: #333333;
    margin: 0;
    margin-left: 19px;
}

.form-r-content .submit-button {
    height: 100px;
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.form-r-content .submit-button a {
    font-size: 28px;
    font-weight: bold;
    line-height: 42px;
    color: #333333;
    cursor: pointer;
    text-decoration: none;
}

.form-r-content .submit-button a img {
    margin-right: 15px;
}

/* second form styling */
.second-form {
    display: flex;
    margin: 0;
    padding: 0;
}

.second-form .row {
    width: 100%;
    margin: 0px;
}

.second-form .form-left {
    height: 100%;
    width: 50%;
    padding: 0;
}

.second-form .form-right {
    height: 100%;
    width: 50%;
    padding: 0;
}

.second-form .form-right img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.second-form .form-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-form .form-right .form-r-content {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%);
}

.second-form .form-l-content {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 550px;
}

.second-form .form-l-content h2 {
    font-size: 42px;
    font-weight: bold;
    line-height: 87px;
    margin-bottom: 34px;
}

.second-form .form-l-content p {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 66px;
}

.second-form .form-l-content .submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-form .form-l-content .submit-button a {
    font-size: 28px;
    font-weight: bold;
    line-height: 42px;
    color: #333333;
    text-decoration: none;
}

.second-form .form-l-content .submit-button a img {
    margin-left: 45px;
}

/* table section styling */
.table-main {
    background-color: #B9E9D7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 66rem;
    overflow-x: auto;
}

.table-main::-webkit-scrollbar {
    /* border-radius: 50px; */
    background: transparent;
    border: none;
}

.table-main::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.363);
}

.table-title h2 {
    font-size: 42px;
    font-weight: bold;
    line-height: 87px;
    color: #333333;
    margin-bottom: 67px;
}

.table tbody tr th {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    color: #333333;
    border-bottom-color: #333333;
}

.table tbody tr td {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}

.table tbody .headingsontop h4 {
    padding: 20px 10px;
}

.table tbody tr:nth-child(even) {
    background-color: #e6e6e67a;
    height: 63px;
}

.table tbody .even td {
    padding: 20px 10px;
}

.table tbody tr:nth-child(odd) {
    height: 111px;
}

.table tbody .odd td {
    padding: 40px 10px;
}

.table tbody th,
td {
    min-width: 275px;
    border: 1px solid #333333;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
}

.table tbody td:nth-child(4) {
    border-right-color: transparent;
}

.table tbody th:nth-child(4) {
    border-right-color: transparent;
}

/* card section styling */
.card-body {
    padding: 0;
}

.card-main {
    padding-top: 87px;
    padding-bottom: 40px;
}

.card-heading h2 {
    font-size: 42px;
    font-weight: bold;
    line-height: 87px;
    color: #333333;
    margin-bottom: 52px;
}

.card-group {
    gap: 75px;
}

.card {
    min-width: 328px;
    border: none;
}

.card .read-more-card {
    text-align: right;
}

.card .read-more-card button {
    border: none;
    background-color: transparent;
}

.card .read-more-card button img {
    height: 41px;
    width: 199px;
}

.card-body .card-text {
    font-size: 22px;
    font-weight: 300;
    line-height: 42px;
    color: #333333;
    margin-top: 36px;
    margin-left: 10px;
}

/* swiper styling */
.slider-section{
    min-height: 478px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .slider-content{
    width: 100%;
  }
  .slider-insider{
    display: flex;
  }
  .slider-insider .slider-left{
    border-radius: 50%;
    width: 299px;
  }
  .slider-insider .slider-right{
    height: 248px;
    text-align: left;
  }
  .slider-insider .slider-right span img{
    height: 49px;
    width: 61px;
    margin-bottom: 25px;
  }
  .slider-insider .slider-right p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #3D3D3D;
    margin-bottom: 23px;
  }
  .slider-insider .slider-right h3{
    font-size: 20px;
    font-weight: 700;
    color: #3D3D3D;
  }
  .slider-insider .slider-right h4{
    font-size: 20px;
    font-weight: 400;
    color: #3D3D3D;
  }
  .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: 'prev';
    font-size: 20px;
}
  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: 'next';
    font-size: 20px;
}
/* footer styling */
footer {
    background-color: #0067BA;
    /* height: 204px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 33px;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

footer .footer-ul {
    margin-top: 18px;
}

footer .extra-footer-links {
    margin-top: 20px;
}

body {
    background-color: white;
}
/* button colors */
i.ri-menu-line {
    color: white;
}
.menu-button button i {
    filter: none;
}
i.ri-close-fill {
    color: black;
}



/* .row-partners-all:nth-child(even) .partner1.row .col-lg-4 {
    order: 2;
} */