.expertise-intro-main{
    background-image: url(img/expertize\ img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 333px;
    padding-top: 75px;
    padding-bottom: 46px;
    position: relative;
}
.blue-div{
    background-color: #0005EE;
    opacity: 35%;
}

/* expertise-content-section styling */
.expertise-content-main{
    padding-bottom: 110px;
}
.expertise-intro h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 58px;
    margin-bottom: 9px;
}
.expertise-intro p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.experise-info-content h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #2B4EAF;
    margin-bottom: 1px;
}
.experise-info-content span {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.expertise-content-main .container .row hr{
    margin-top: 46px;
    background-color: #2B4EAF;
    height: 1px;
}
.expertise-info {
    margin-top: 66px;
    width: 527px;
    margin-left: auto;
}
.expertise-info .row{
    height: 124px;
}
.expertise-content-main .container .row:last-child .expertise-wrap {
    border-bottom: 0px;
    padding-bottom: 0;
}
.expertise-wrap{
    margin-top: 54px;
    border-bottom: 1px solid #2B4EAF;
    padding-bottom: 55px;
}