.family-office-intro-main{
    background-image: url(img/home\ office\ img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 333px;
    padding-top: 75px;
    padding-bottom: 46px;
}