.member-info-main{
    padding-top: 5px;
    margin-bottom: 92px;
}
.member-info-top-line h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 22px;
}
.member-info-introduction h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #2B4EAF;
    margin-top: 22px;
    margin-bottom: 11px;
}
.member-info-introduction h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
/* other side */
.member-info-desc-box-heading{
    border-bottom: 1px solid #2B4EAF;
}
.member-info-desc-box-heading h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 7px;
}
.member-info-desc-box-other ul {
    padding: 0;
    margin-top: 12px;
}
.member-info-desc-box-other ul li{
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}