.intro-main {
    padding: 0;
}
.intro-section{
    min-height: auto;
}

/* navigator styling */
.navigator-box {
    position: relative;
    min-height: 655px;
}
.navigator-main{
    background-image: url(imgnew/navigator-main-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navigator-services {
    position: absolute;
    width: fit-content;
}
.navigator-services {
    border: 6px solid white;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.navigator-services span {
    font-size: 13px;
    color: white;
    line-height: 15px;
    font-weight: bold;
    margin-top: 16px;
}
.navigator-services:hover{
    background-color: rgba(255, 255, 255, 0.363);
    transition: ease-in-out 0.2s;
}
.navigator-services.nav-btn-main {
    left: 507px;
    top: 228px;
    background-color: white;
}
.navigator-services.nav-btn-security {
    left: 317px;
    top: 96px;
}
.navigator-services.nav-btn-security::after {
    content: "";
    border: 3px solid white;
    width: 85px;
    background-color: white;
    top: 50%;
    position: absolute;
    left: -64px;
    transform: rotate(-143deg);
    transform-origin: 172% 0%;
}
.navigator-services.nav-btn-menag {
    left: 119px;
    top: 296px;
    height: 165px;
    width: 165px;
}
.navigator-services.nav-btn-menag:after {
    content: "";
    border: 3px solid white;
    width: 234px;
    background-color: white;
    top: 50%;
    position: absolute;
    left: -136px;
    transform: rotate(-193deg);
    transform-origin: 113% 0%;
}
.navigator-services.nav-btn-menag span{
    margin-top: 2px;
}
.navigator-services.nav-btn-bus {
    left: 997px;
    top: 111px;
}
.navigator-services.nav-btn-bus:before {
    content: "";
    border: 3px solid white;
    width: 105px;
    background-color: white;
    top: 50%;
    position: absolute;
    left: -108px;
    transform: rotate(-13deg);
    transform-origin: 156% 0%;
}
.navigator-services.nav-btn-cloud {
    left: 753px;
    top: 170px;
}
.navigator-services.nav-btn-cloud:before {
    content: "";
    border: 3px solid white;
    width: 106px;
    background-color: white;
    top: 50%;
    position: absolute;
    left: -110px;
    transform: rotate(-13deg);
    transform-origin: 156% 0%;
}
.navigator-services.nav-btn-infra {
    left: 737px;
    top: 373px;
}
.navigator-services.nav-btn-infra:before {
    content: "";
    border: 3px solid white;
    width: 125px;
    background-color: white;
    top: 50%;
    position: absolute;
    left: -130px;
    transform: rotate(35deg);
    transform-origin: 155% 0%;
}
.navigator-services.nav-btn-phone {
    left: 357px;
    top: 410px;
}
.navigator-services.nav-btn-phone:after {
    content: "";
    border: 3px solid white;
    width: 91px;
    background-color: white;
    top: 50%;
    position: absolute;
    left: -72px;
    transform: rotate(-229deg);
    transform-origin: 170% 0%;
}

/* a.nav-btn.nav-btn-bus::before {
    content: "";
    border: 3px solid white;
    width: 117px;
    background-color: white;
    top: 50%;
    position: absolute;
    left: -119px;
    transform: rotate(-11deg);
    transform-origin: 164% 0%;
} */

/* business styling */
.business-main-logo-div{
    background-color: white;
    height: 356px;
    width: 358px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 32px rgba(35, 47, 93, 0.11);
}
.business-main-logo-box{
    border: 6px solid #232F5D;
    height: 230px;
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-direction: column;
}
.business-main-logo-box span {
    font-size: 19px;
    font-weight: bold;
    line-height: 26px;
    margin-top: 28px;
}
/* business-content-main-box */
.business-main{
    padding-top: 119px;
    padding-bottom: 90px;
    position: relative;
}
.business-content-main-box{
    padding-top: 59px;
    padding-bottom: 48px;
    padding-left: 114px;
    padding-right: 142px;
    color: #232F5D;
    box-shadow: 0 0 32px rgba(35, 47, 93, 0.11);
}
.business-content-main-box h2{
    font-size: 36px;
    font-weight: bold;
    line-height: 46px;
}
.business-content-main-box p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.business-content-main-box li{
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    list-style: none;
}
.business-content-main-box ul{
    padding: 0;
}
.business-content-main-box ul li img{
    margin-right: 12px;
}
.business-content-main-box button{
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    list-style: none;
    color: white;
    background-color: #69B42D;
    padding: 12px 17px;
    border: 1px solid #69B42D;
    margin-top: 21px;
    margin-left: auto;
}
.business-content-main-box button:hover{
    background-color: white;
    color: #69B42D;
    border: 1px solid #69B42D;
    transition: ease-in-out 0.2s;
}
.bcmb-button{
    width: fit-content;
    margin-left: auto;
}
.business-main .col-lg-4 {
    position: relative;
    margin-right: -60px;
}

/* uber styling */
.uberich-main{
    padding-top: 79px;
    padding-bottom: 43px;
    background-color: #E1EDF4;
}
.uber-title h2{
    font-size: 32px;
    font-weight: bold;
    line-height: 42px;
    /* margin-bottom: 38px; */
    margin-left: 40px;
}
.uberich-main{
    color:#232F5D;
}
.uberich-main .col-lg-6{
    padding: 0px 55px;
    margin-top: 38px;
}
.uber-content h3{
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;
    border-bottom: 1px solid #232F5D;
}
.uber-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 14px;
}
.uber-content ul {
    padding: 0;
}
.uber-content ul li{
    list-style: none;
}
.uber-download{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.uber-download button{
    border: none;
    background: transparent;
    margin-right: 15px;
}
    
/* card section styling */
.card-main{
    color: #232F5D;
    padding-top: 35px;
    padding-bottom: 138px;
}
.card-box{
    max-width: 261px;
    min-height: 403px;
    position: relative;
    box-shadow: 0 0 32px rgba(35, 47, 93, 0.11);
}
.card-pic img{
width: 100%;
}
.card-content{
    padding: 12px;
}
.card-lorem{
    background-color: #232F5D;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 18px;
    width: 188px;
    height: 30px;
    font-weight: 400;
    line-height: 24px;
    left: 14%;
}
.card-content h3{
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}
.card-content h4{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.card-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.card-content h5{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}
.center-card h3{
margin-top: 91px;
}
.center-card h5{
    margin-top: 64px;
    }
.center-card h4{
     margin-top: 30px;
}
.center-card p{
    margin-top: 25px;
}