.nav-btn-secondary{
    height: 74px !important;
    width: 74px !important;
    border: 6px solid white !important;
}
.nav-btn-cloud-ka-cloud{
    position: absolute;
    top: 43px;
    left: 690px;
}
a.nav-btn.nav-btn-cloud-ka-virus.nav-btn-secondary::after {
    content: "";
    border: 4px solid white;
    width: 63px;
    background-color: white;
    top: 50%;
    position: absolute;
    right: -70px;
    transform: rotate(106deg);
    transform-origin: -57% 0%;
}
.nav-btn-cloud-ka-virus{
    position: absolute;
    top: 41px;
    left: 869px;
}
.nav-btn-cloud-ka-cloud::after {
    content: "";
    border: 4px solid white;
    width: 108px;
    background-color: white;
    top: 50%;
    position: absolute;
    right: -109px;
    transform: rotate(48deg);
    transform-origin: -31% 0%;
}

/* navigator styling */
.small-navigators{
    height: 74.62px;
    width: 74.62px;
}
.nav-btn-cloud-child1{
    left: 691px;
    top: 43px;
}
.navigator-services.nav-btn-cloud-child1.small-navigators:after {
    content: "";
    border: 3px solid white;
    width: 83px;
    background-color: white;
    top: 50%;
    position: absolute;
    left: -105px;
    transform: rotate(-122deg);
    transform-origin: 150% 0%;
}
.nav-btn-cloud-child2{
    left: 869px;
    top: 40px;
}
.navigator-services.nav-btn-cloud-child2.small-navigators:before {
    content: "";
    border: 3px solid white;
    width: 74px;
    background-color: white;
    top: 50%;
    position: absolute;
    left: -84px;
    transform: rotate(-66deg);
    transform-origin: 144% 0%;
}
.span-boxx {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 250px;
    padding: 10px;
    z-index: 11111111;
    display: flex;
    align-items: center;
    justify-content: center;
}
.span-boxx p {
    margin: 0;
    padding: 10px;
    font-size: 16px;
}
.span-boxx:before {
    content: "";
    background: white;
    height: 25px;
    width: 25px;
    top: -12px;
    position: absolute;
    rotate: 45deg;
}
.nav-btn-cloud-child1 .span-boxx{
    top: 100px;
    left: -95px;
    opacity: 0;
    visibility: hidden;
}
.nav-btn-cloud-child2 .span-boxx{
    top: 100px;
    left: -95px;
    opacity: 0;
    visibility: hidden;
}
.nav-btn-cloud-child1:hover > .span-boxx{
    opacity: 100%;
    visibility: visible;
    transition: ease-in-out 0.4s;
}
.nav-btn-cloud-child2:hover > .span-boxx{
    opacity: 100%;
    visibility: visible;
    transition: ease-in-out 0.4s;
}
.navigator-services.nav-btn-menag span {
    margin-top: 2px;
    margin-bottom: 20px;
}


