.blog-main{
    padding-top: 73px;
    padding-bottom: 112px;
}
.blog-main .container {
    width: 700px;
}
.blog-box{
    margin-top: 37px;
}
.blog-box h3{
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}
.blog-box p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.blog-ul h3{
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}
.blog-ul ul{
    padding: 0;
}
.blog-ul ul li{
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.web-box{
    margin-top: 57px;
}
.copyright-box{
    margin-top: 40px;
}
.disclaimer-box{
    margin-top: 35px;
}
.blog-content-box2{
    margin-top: 40px;
}
.information-box{
    margin-top: 20px;
}
.cookies-box{
    margin-top: 42px;
}
.google-box{
    margin-top: 27px;
}