/* unsere styling */
.unsere-main{
    padding-top: 125px;
    padding-bottom: 11px;
    color: #232F5D;
}
.unsere-btm-box {
    width: 528px;
}
.unsere-heading h2{
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 19px;
    border-bottom: 2px solid #232F5D;
    width: fit-content;
}
.unsere-btm-box h3{
    font-size: 36px;
    font-weight: bold;
    line-height: 46px;
}
.unsere-btm-box p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 34px;
    margin-bottom: 33px;
}
.unser-img{
    width: 528px;
    height: 400px;
}
.unser-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.team-top img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* team styling */
.team-main{
    color: #232F5D;
    padding-top: 105px;
    padding-bottom: 72px;
}
.team-heading h2{
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 34px;
    border-bottom: 2px solid #232F5D;
    width: fit-content;
}
.team-btm h3{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.team-btm ul{
    padding: 0;
    margin-top: 13px;
}
.team-btm ul li{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    list-style: none;
}
.team-btm{
    margin-top: 11px;
}
.team-main .row .col-lg-3{
    margin-bottom: 57px;
}
.partner-heading h2 {
    margin-bottom: 47px;
    width: fit-content;
    border-bottom: 2px solid white;
}
.partner-main {
    padding-top: 11px;
    padding-bottom: 179px;
}
.partner-main2 {
    padding-top: 86px;
    padding-bottom: 104px;
}